$graydark: #444444;
$black: #121212;
$background: #F5F5F5;
$white: #ffffff;

$tablet: 750px;
$desktop: 960px;
$desktoplg: 1400px;

$gridcolumns: 6;
$gridgutter: 20px;

$gridwidth: calc(100% - #{$gridgutter});
$gridwidtht: calc(90% - #{$gridgutter});
$gridwidthd: $desktop - $gridgutter * 2;
$gridwidthdlg: $desktoplg - $gridgutter * 3;

$bodyfont: "Roboto+Mono";
$bodyfontfamily: 'IBM Plex Mono', monospace;;
$bodyfontweights: "200,300;400;700";

$basefontsizemobile: $gridgutter / 3 * 2;
$basefontsizetablet: $gridgutter / 3 * 2 + 1;
$basefontsizedesktop: $gridgutter / 3 * 2 + 2;